.title_vagas{
    background-color: #BBC9BF;
    display: flex;
    justify-content: center;
    padding-top: 75px;
    color: #07280F;
    font-size: 24px;
    height: 13vh;
}



.linha-horizontal {
    position: absolute;
    border: 1px solid #000;
    opacity: 0.8;
    width: 550px;
    margin-left: 670px;
    margin-top: -15px;
    
}

=

#container {
    display: inline-block;
    position: relative;
  }
  
  #container figcaption {
    position: absolute;
    top: 250px;
    font-size: 2.4rem;
    color: white;
    text-shadow: 2px 4px 0px black;
    font-family: 'Mulish', sans-serif;
    width: 1000px;
   
    flex-wrap: wrap;
    margin-left: 29%;
    margin-bottom: 15%;

    

    
  }
  
  .img_vagas{ 
      width: 100%;
  }
  
  
=
  
  section{
      width: 100%;
      background-color:#BBC9BF;
      display: flex;
      position: relative;
  }

  .boxes{
      margin-top: -55px;
      margin-left: 100px;
      gap: 200px;
      display: flex;
      flex-wrap: wrap;
  }
  
  .Analista_ambiental{
      height: 200px;
      width: 500px;
      background-color: white;
      box-shadow: 0px 0px 4px black;
 
      
  }
  
  .Auxiliar{
      height: 200px;
      width: 500px;
      background-color: white;
      box-shadow: 0px 0px 3px black;
      
      
  }
  
  .Embalador{
      height: 200px;
      width: 500px;
      background-color: white;
      box-shadow: 0px 0px 4px black;
      
      
  }
  
  .Assistente{
      height: 200px;
      width: 500px;
      background-color: white;
      box-shadow: 0px 0px 4px black;
      
     
  }
  
  .filtrar{
      display: flex;
      background-color: #73907C;
      border-radius: 5px;
      width: 300px;
      height: 55px;
      font-family: 'Mulish', sans-serif;
      font-size: 24px;
      padding-left: 100px;
      align-items: center;
      margin-left: 1470px;
      margin-top: 150px;
      
      box-sizing: border-box;
  }
   
  .search{
      margin-left: 5%;
  }